:root {
  --color-primary-50: #eef8ff;
  --color-primary-100: #d8efff;
  --color-primary-200: #bae3ff;
  --color-primary-300: #8ccbff;
  --color-primary-400: #54baff;
  --color-primary-500: #3a9bff;
  --color-primary-600: #2a7ed9;
  --color-primary-700: #1b63d6;
  --color-primary-800: #0a448c;
  --color-primary-900: #002a66;
  --color-primary-950: #001a4d;

  --color-gray-translucid: rgba(255, 255, 255, 0.7);
  --color-gray-50: #fdfdfd;
  --color-gray-100: #f4f4f4;
  --color-gray-200: #e1e2e8;
  --color-gray-300: #b5b6c4;
  --color-gray-400: #606171;
  --color-gray-500: #444550;
  --color-gray-600: #2e2e39;
  --color-gray-700: #23232b;
  --color-gray-800: #1c1c22;
  --color-gray-900: #14141a;
  --color-gray-950: #0f0f14;

  --color-green: #00cb69;
  --color-red: #dc3545;

  --font-family: 'Sansation', sans-serif;
}

/*  Ajustes Gerais  */

body {
  font-family: var(--font-family);
  background-color: var(--color-gray-50);
  color: var(--color-gray-800);
  scroll-behavior: smooth;
}

h1 {
  font-size: 3rem;
  line-height: 3.2rem;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h3 {
  font-size: 2rem;
  line-height: 2.2rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.9rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.7rem;
  font-weight: 300;
  max-width: 800px;
  margin: 0;
  padding: 0;
}

.titulo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.titulo p,
.text-content p {
  text-align: justify;
}

.section-title,
.text-primary {
  font-size: 2.5rem;
  font-weight: 700;
  color: var(--color-primary-800);
  position: relative;
}

.section-title::after {
  content: '';
  position: absolute;
  bottom: -10px;
  left: 0;
  width: 80px;
  height: 4px;
  background: var(--color-primary-400);
  border-radius: 2px;
}

.section-title.text-center::after {
  left: 50%;
  transform: translateX(-50%);
}

.text-primary {
  color: var(--color-primary-400);
}

.lead-text {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--color-primary-800);
  line-height: 1.2;
}

.button {
  width: fit-content;
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);
  padding: 14px 26px;
  border-radius: 10px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  transition: all 0.3s ease;
}

.button:hover {
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
  transform: translateY(-2px);
  filter: opacity(0.95);
}

.button-blue {
  background-color: var(--color-primary-500);
  color: var(--color-gray-50);
}

.button-gray {
  background-color: var(--color-gray-700);
  color: var(--color-gray-50);
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.4rem;
    line-height: 2.6rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 2.1rem;
  }

  h3 {
    font-size: 1.7rem;
    line-height: 1.8rem;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 1.6rem;
  }

  p {
    font-size: 1rem;
    line-height: 1.7;
  }
}
